<nav class="w-screen bg-gray-800 text-white shadow-lg">
  <div class="max-w-7xl mx-auto flex flex-col">
    <!-- Top Bar -->
    <div class="flex flex-row items-center w-full p-4">
      <!-- Logo -->
      <h1 class="text-4xl font-bold text-white">NewsNow</h1>

      <!-- Search Bar -->
      <div class="w-full max-w-md ml-[25vh] relative">
        <input
          type="text"
          class="rounded-lg outline-none bg-gray-700 text-white placeholder-gray-400 w-full px-4 py-2"
          placeholder="sports, movies, politics..."
          [(ngModel)]="search"
          (input)="SearchToggle()"
        />

        @if (searchOn) {
        <div
          class="absolute w-full bg-gray-700 rounded-lg px-4 pt-2 z-10 max-h-[300px] overflow-y-auto shadow-xl"
        >
          @for (m of filtered; track m) {
          <div
            class="flex flex-row mb-2 bg-gray-800 hover:bg-gray-700 transition"
          >
            <div class="flex flex-row p-2">
              <img [src]="m.image" alt="" class="w-[20vh] p-2 rounded-xl" />
              <h1
                class="text-lg font-semibold flex items-center pl-2 text-white"
              >
                {{ m.title }}
              </h1>
            </div>
          </div>
          }
        </div>
        }
      </div>
    </div>

    <!-- Navigation Links -->
    <ul class="flex justify-center w-full gap-8 px-2 py-2 mb-5">
      <li>
        <a
          class="text-2xl px-4 py-2 rounded-lg hover:bg-gray-700 transition"
          routerLink="/home"
          >Home</a
        >
      </li>
      <li>
        <a
          class="text-2xl px-4 py-2 rounded-lg hover:bg-gray-700 transition"
          routerLink="/business"
          >Business</a
        >
      </li>
      <li>
        <a
          class="text-2xl px-4 py-2 rounded-lg hover:bg-gray-700 transition"
          routerLink="/sports"
          >Sports</a
        >
      </li>
      <li>
        <a
          class="text-2xl px-4 py-2 rounded-lg hover:bg-gray-700 transition"
          routerLink="/technology"
        >
          Technology
        </a>
      </li>
    </ul>
  </div>
</nav>
